h1 {
    font-size: 40px;
    color: rgb(170, 61, 61);
    text-decoration: underline 1px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: rgb(170, 61, 61);
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 300px;
    margin: 30px 0;
    display: block;
    text-align: center;
}

.login,
.buscador {
    height: 150px;
}

#calcular,
#calcularInv {
    margin: 10px;
    font-size: 15px;
}

p,
span,
h3 {
    color: rgb(170, 61, 61);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#tiempoInversion,
#valor,
#valorInversion {
    color: rgb(170, 61, 61);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#buscador {
    width: 30vw;
    height: 30px;
}

#loginForm input {
    width: 15vw;
    height: 30px;
}

.dark {
    background-color: black;
}
